.block{
  display: flex;
  flex-direction: column;
}

.inline-block{
  display: flex;
  flex-direction: row;
  margin-top: 10;
}

.picker{
  background-color: #ccc;
  width: 200;
  height: 50;
  font-size: 16;
  color: black;
}
